name: octoconda

on:
  workflow_dispatch:
    inputs:
      configFile:
        description: Configuration file
        default: "config.toml"
        type: string
      workDir:
        description: work directory
        default: "./work_dir"
        type: string
  schedule:
    - cron: "2 * * * *"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read # read the contents of the repository
  repository-projects: read # read release details
  id-token: write # trusted publishing

jobs:
  sync-packages:
    runs-on: ubuntu-latest
    env:
      # Set environment variables with conditional defaults
      CONFIG_FILE: ${{ github.event.inputs.configFile || 'config.toml' }}
      WORK_DIR: ${{ github.event.inputs.workDir || './work_dir' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Install rattler-build (binary)
        run: |
          mkdir bin
          curl -L -o bin/rattler-build "https://github.com/prefix-dev/rattler-build/releases/latest/download/rattler-build-x86_64-unknown-linux-musl"
          chmod +x bin/rattler-build
          file bin/rattler-build
        shell: bash

      - name: Run octoconda
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo run -- "--work-dir=${{ env.WORK_DIR }}" "--config-file=${{ env.CONFIG_FILE }}"

      - name: Build and Upload Packages
        run: |
          chmod +x "${GITHUB_WORKSPACE}/scripts/package_and_upload_all.sh" \
            && (\
              cd "${GITHUB_WORKSPACE}" \
              && cd "${{ env.WORK_DIR }}" \
              && PATH="${GITHUB_WORKSPACE}/bin:${PATH}" "${GITHUB_WORKSPACE}/scripts/package_and_upload_all.sh" \
            )

      - name: Add Job Summary
        if: always()
        run: |
          { \
            echo "# Octoconda Report"; \
            echo; \
          } >> $GITHUB_STEP_SUMMARY

          if test -f "${{ env.WORK_DIR }}/report.txt"; then
            cat "${{ env.WORK_DIR }}/report.txt" >> $GITHUB_STEP_SUMMARY
          else
            echo "*no report available*" >> $GITHUB_STEP_SUMMARY
          fi

          { \
            echo "# Summary"; \
            echo; \
          } >> $GITHUB_STEP_SUMMARY

          if test -f "${{ env.WORK_DIR }}/status.txt"; then
            cat "${{ env.WORK_DIR }}/status.txt" >> $GITHUB_STEP_SUMMARY
          else
            echo "*no status available*" >> $GITHUB_STEP_SUMMARY
          fi
